.postFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.postFooter * {
    font-size: x-small;
}

.postedBy {
    max-width: 95px;
}

.username {
    color: #61ADFF;
    font-weight: 500;
}

.timePosted {
    min-width: 60px;
}

.comments {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    min-width: 30px;
}

.separator {
    width: 2px;
    background-color: #777777;
    height: 30px;
}

@media screen and (min-width: 768px) {
    .postFooter * {
        font-size: small;
    }
}