.subreddit {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    background-color: #252525;
    padding: 10px;
    border-radius: 10px;
}

.subreddit>img {
    width: 30px;
}

.subreddit>i {
    width: 30px;
    text-align: center;
    font-size: 30px;
    color: #FF4300;
}