.post {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

.postTitle {
    font-size: large;
}

.postImage {
    border-radius: 10px;
}

.separator {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    justify-self: center;
}