.voteButtons {
    padding-top: 15px;
    padding-left: 10px;
    text-align: center;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.voteButtons>* {
    font-size: 20px;
}

.upvote {
    color: #4dc326
}

.downvote {
    color: #fe3030
}

.neutral {
    color: #e0e0e0;
}