.comment {
    display: flex;
    flex-direction: column;
    background-color: #252525;
    padding: 10px;
    padding-top: 5px;
    border-radius: 10px;
    gap: 10px;
}

.commentHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}

.userInfo {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.userAvatar {
    width: 30px;
}

.username {
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
}

.timePosted {
    font-size: 10px;
}

.commentBody {
    font-size: 12px;
    overflow-wrap: break-word;
}