.logo {
    color: #FF4300;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.image,
.title {
    font-size: 18px;
    line-height: normal;
}

.title {
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
}